.Pantalla
{
    color: #ccc;
    text-align: right;
    user-select: none;
    padding: 15px;
    margin-right: 8px;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    font-size: 20px;
}